<a href="https://colab.research.google.com/github/Vishu-Gupta/MLProjects/blob/main/04%20Spaceship_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a Kaggle competition :

https://www.kaggle.com/c/spaceship-titanic/overview

## Connecting with Kaggle and getting the dataset

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
! mkdir ~/.kaggle
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [3]:
!kaggle competitions download spaceship-titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

## Importing Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading train and test data.

In [5]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [6]:
# Shapes of the dataset
df_train.shape

(8693, 14)

In [7]:
df_test.shape

(4277, 13)

In [8]:
df_train.head()

  PassengerId HomePlanet CryoSleep  ... VRDeck               Name  Transported
0     0001_01     Europa     False  ...    0.0    Maham Ofracculy        False
1     0002_01      Earth     False  ...   44.0       Juanna Vines         True
2     0003_01     Europa     False  ...   49.0      Altark Susent        False
3     0003_02     Europa     False  ...  193.0       Solam Susent        False
4     0004_01      Earth     False  ...    2.0  Willy Santantines         True

[5 rows x 14 columns]

**Data Description
File and Data Field Descriptions** 

PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.

HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.

CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.

Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.

Destination - The planet the passenger will be debarking to.

Age - The age of the passenger.

VIP - Whether the passenger has paid for special VIP service during the voyage.

RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.

Name - The first and last names of the passenger.
Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

## EDA

In [9]:
df_train.isnull().sum() # Missing Values in train

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [10]:
df_train.nunique() # no of distinct values for each feature

PassengerId     8693
HomePlanet         3
CryoSleep          2
Cabin           6560
Destination        3
Age               80
VIP                2
RoomService     1273
FoodCourt       1507
ShoppingMall    1115
Spa             1327
VRDeck          1306
Name            8473
Transported        2
dtype: int64

In [11]:
#Cabin is a combo of deck/num/side , which individually could be important features. Need to be extracted
df_train[['deck','cabin_num','side']] = df_train['Cabin'].fillna('//').str.split('/',expand=True)

In [12]:
df_train.head()

  PassengerId HomePlanet CryoSleep  Cabin  ... Transported  deck cabin_num  side
0     0001_01     Europa     False  B/0/P  ...       False     B         0     P
1     0002_01      Earth     False  F/0/S  ...        True     F         0     S
2     0003_01     Europa     False  A/0/S  ...       False     A         0     S
3     0003_02     Europa     False  A/0/S  ...       False     A         0     S
4     0004_01      Earth     False  F/1/S  ...        True     F         1     S

[5 rows x 17 columns]

In [13]:
df_train.dropna().shape[0]/df_train.shape[0] # what %age of data will disappear in case of missing value drop (22%)

0.7599217761417232

In [14]:
df_train.info() # data types of all features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
 14  deck          8693 non-null   object
 15  cabin_num     8693 non-null   object
 16  side          8693 non-null   object
dtypes: bool(1), float64(6), object(10)
memory usage: 1.1+ MB

In [15]:
df_train['deck'].unique()

array(['B', 'F', 'A', 'G', '', 'E', 'D', 'C', 'T'], dtype=object)

In [16]:
df_train['side'].unique()

array(['P', 'S', ''], dtype=object)

In [17]:
df_train['cabin_num'].unique()

array(['0', '1', '2', ..., '1892', '1893', '1894'], dtype=object)

In [22]:
df_train[['deck','cabin_num','side']] = df_train[['deck','cabin_num','side']].replace('',np.NaN)

In [23]:
df_train[df_train['Cabin'].isnull()][['deck','cabin_num','side']].head()

    deck cabin_num side
15   NaN       NaN  NaN
93   NaN       NaN  NaN
103  NaN       NaN  NaN
222  NaN       NaN  NaN
227  NaN       NaN  NaN

In [24]:
df_train.drop('Cabin',axis=1,inplace=True) # dropping Cabin column

In [26]:
df_train[df_train['Spa'].isnull()].head()

    PassengerId HomePlanet CryoSleep  ... deck  cabin_num side
48      0050_01      Earth     False  ...    E          1    S
143     0164_01      Earth     False  ...    G         28    S
245     0265_01     Europa      True  ...    D          8    S
269     0294_01     Europa      True  ...    B          8    S
289     0320_01      Earth     False  ...    G         44    S

[5 rows x 16 columns]

In [27]:
df_train.describe()

               Age   RoomService  ...           Spa        VRDeck
count  8514.000000   8512.000000  ...   8510.000000   8505.000000
mean     28.827930    224.687617  ...    311.138778    304.854791
std      14.489021    666.717663  ...   1136.705535   1145.717189
min       0.000000      0.000000  ...      0.000000      0.000000
25%      19.000000      0.000000  ...      0.000000      0.000000
50%      27.000000      0.000000  ...      0.000000      0.000000
75%      38.000000     47.000000  ...     59.000000     46.000000
max      79.000000  14327.000000  ...  22408.000000  24133.000000

[8 rows x 6 columns]

In [30]:
# for luxury expenditure columns -  Spa,Room Service,FoodCourt, ShoppingMall and VRDeck , missing values can be replaced with 0 , 
# cosnidering no expenditure
df_train[['Spa','RoomService','FoodCourt','ShoppingMall','VRDeck']]= df_train[['Spa','RoomService','FoodCourt','ShoppingMall','VRDeck']].fillna(0)

In [31]:
df_train.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
deck            199
cabin_num       199
side            199
dtype: int64